head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="description" content=description || "Keith Barney - Design Systems Designer")
  title= title ? `${title} | Keith Barney` : "Keith Barney - Design Systems Designer"
  link(rel="preload" href="fonts/TestAmericanGrotesk-Bold.otf" as="font" type="font/otf" crossorigin)
  link(rel="stylesheet" href="css/tokens.css")
  link(rel="stylesheet" href="css/main.css")
  link(rel="stylesheet" href="css/portfolio.css")
