doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="refresh" content="0; url=alias.html")
		title Redirecting...
	body
		p Redirecting to #[a(href="alias.html") Alias Tokens]...
