include _mixins

.subsection#colors
	.grid.grid--10.color-grid
		+tokenHeader('Section', 'Group', 'Swatch', 'Token', 'Value')
		//- Gray
		+colorRow('Colors', 'Gray', 'gray-white', 'white', '#FFFFFF')
		+colorRow('', '', 'gray-50', '50', '#F3F3F3')
		+colorRow('', '', 'gray-100', '100', '#E8E8E8')
		+colorRow('', '', 'gray-200', '200', '#DDDDDD')
		+colorRow('', '', 'gray-300', '300', '#BBBBBB')
		+colorRow('', '', 'gray-400', '400', '#A6A6A6')
		+colorRow('', '', 'gray-500', '500', '#868686')
		+colorRow('', '', 'gray-600', '600', '#727272')
		+colorRow('', '', 'gray-700', '700', '#5E5E5E')
		+colorRow('', '', 'gray-800', '800', '#4B4B4B')
		+colorRow('', '', 'gray-900', '900', '#282828')
		+colorRow('', '', 'gray-950', '950', '#141414')
		+colorRow('', '', 'gray-black', 'black', '#000000')

		//- Red
		+colorRow('', 'Red', 'red-50', '50', '#FFF0EE')
		+colorRow('', '', 'red-100', '100', '#FFE1DE')
		+colorRow('', '', 'red-200', '200', '#FFD2CD')
		+colorRow('', '', 'red-300', '300', '#FFB2AB')
		+colorRow('', '', 'red-400', '400', '#FC7F79')
		+colorRow('', '', 'red-500', '500', '#F83446')
		+colorRow('', '', 'red-600', '600', '#DE1135')
		+colorRow('', '', 'red-700', '700', '#BB032A')
		+colorRow('', '', 'red-800', '800', '#950F22')
		+colorRow('', '', 'red-900', '900', '#520810')

		//- Orange
		+colorRow('', 'Orange', 'orange-50', '50', '#FFF0E9')
		+colorRow('', '', 'orange-100', '100', '#FEE2D4')
		+colorRow('', '', 'orange-200', '200', '#FFD3BC')
		+colorRow('', '', 'orange-300', '300', '#FFB48C')
		+colorRow('', '', 'orange-400', '400', '#FC823A')
		+colorRow('', '', 'orange-500', '500', '#E65300')
		+colorRow('', '', 'orange-600', '600', '#C54600')
		+colorRow('', '', 'orange-700', '700', '#A33B04')
		+colorRow('', '', 'orange-800', '800', '#823006')
		+colorRow('', '', 'orange-900', '900', '#461A00')

		//- Amber
		+colorRow('', 'Amber', 'amber-50', '50', '#FFF1E1')
		+colorRow('', '', 'amber-100', '100', '#FFE4B7')
		+colorRow('', '', 'amber-200', '200', '#FFD5A1')
		+colorRow('', '', 'amber-300', '300', '#FFB749')
		+colorRow('', '', 'amber-400', '400', '#DF9500')
		+colorRow('', '', 'amber-500', '500', '#C46E00')
		+colorRow('', '', 'amber-600', '600', '#A95F03')
		+colorRow('', '', 'amber-700', '700', '#904A07')
		+colorRow('', '', 'amber-800', '800', '#763A00')
		+colorRow('', '', 'amber-900', '900', '#3E2000')

		//- Yellow
		+colorRow('', 'Yellow', 'yellow-50', '50', '#FDF2DC')
		+colorRow('', '', 'yellow-100', '100', '#FBE5B6')
		+colorRow('', '', 'yellow-200', '200', '#FFD688')
		+colorRow('', '', 'yellow-300', '300', '#F6BC2F')
		+colorRow('', '', 'yellow-400', '400', '#D79900')
		+colorRow('', '', 'yellow-500', '500', '#B97502')
		+colorRow('', '', 'yellow-600', '600', '#9F6402')
		+colorRow('', '', 'yellow-700', '700', '#845201')
		+colorRow('', '', 'yellow-800', '800', '#6B4100')
		+colorRow('', '', 'yellow-900', '900', '#392300')

		//- Lime
		+colorRow('', 'Lime', 'lime-50', '50', '#EEF6E3')
		+colorRow('', '', 'lime-100', '100', '#DEEEC6')
		+colorRow('', '', 'lime-200', '200', '#CAE6A0')
		+colorRow('', '', 'lime-300', '300', '#A6D467')
		+colorRow('', '', 'lime-400', '400', '#77B71C')
		+colorRow('', '', 'lime-500', '500', '#5B9500')
		+colorRow('', '', 'lime-600', '600', '#4F7F06')
		+colorRow('', '', 'lime-700', '700', '#3F6900')
		+colorRow('', '', 'lime-800', '800', '#365310')
		+colorRow('', '', 'lime-900', '900', '#1B2D00')

		//- Green
		+colorRow('', 'Green', 'green-50', '50', '#EAF6ED')
		+colorRow('', '', 'green-100', '100', '#D3EFDA')
		+colorRow('', '', 'green-200', '200', '#B1EAC2')
		+colorRow('', '', 'green-300', '300', '#7FD99A')
		+colorRow('', '', 'green-400', '400', '#06C167')
		+colorRow('', '', 'green-500', '500', '#009A51')
		+colorRow('', '', 'green-600', '600', '#0E8345')
		+colorRow('', '', 'green-700', '700', '#166C3B')
		+colorRow('', '', 'green-800', '800', '#0D572D')
		+colorRow('', '', 'green-900', '900', '#002F14')

		//- Teal
		+colorRow('', 'Teal', 'teal-50', '50', '#E2F8FB')
		+colorRow('', '', 'teal-100', '100', '#CDEEF3')
		+colorRow('', '', 'teal-200', '200', '#B0E7EF')
		+colorRow('', '', 'teal-300', '300', '#77D5E3')
		+colorRow('', '', 'teal-400', '400', '#01B8CA')
		+colorRow('', '', 'teal-500', '500', '#0095A4')
		+colorRow('', '', 'teal-600', '600', '#007F8C')
		+colorRow('', '', 'teal-700', '700', '#016974')
		+colorRow('', '', 'teal-800', '800', '#1A535A')
		+colorRow('', '', 'teal-900', '900', '#002D33')

		//- Blue
		+colorRow('', 'Blue', 'blue-50', '50', '#EFF4FE')
		+colorRow('', '', 'blue-100', '100', '#DEE9FE')
		+colorRow('', '', 'blue-200', '200', '#CDDEFF')
		+colorRow('', '', 'blue-300', '300', '#A9C9FF')
		+colorRow('', '', 'blue-400', '400', '#6DAAFB')
		+colorRow('', '', 'blue-500', '500', '#068BEE')
		+colorRow('', '', 'blue-600', '600', '#266EF1')
		+colorRow('', '', 'blue-700', '700', '#175BCC')
		+colorRow('', '', 'blue-800', '800', '#1948A3')
		+colorRow('', '', 'blue-900', '900', '#002661')

		//- Purple
		+colorRow('', 'Purple', 'purple-50', '50', '#F9F1FF')
		+colorRow('', '', 'purple-100', '100', '#F2E3FF')
		+colorRow('', '', 'purple-200', '200', '#EBD5FF')
		+colorRow('', '', 'purple-300', '300', '#DDB9FF')
		+colorRow('', '', 'purple-400', '400', '#C490F9')
		+colorRow('', '', 'purple-500', '500', '#A964F7')
		+colorRow('', '', 'purple-600', '600', '#944DE7')
		+colorRow('', '', 'purple-700', '700', '#7C3EC3')
		+colorRow('', '', 'purple-800', '800', '#633495')
		+colorRow('', '', 'purple-900', '900', '#3A1659')

		//- Magenta
		+colorRow('', 'Magenta', 'magenta-50', '50', '#FEEFF9')
		+colorRow('', '', 'magenta-100', '100', '#FEDFF3')
		+colorRow('', '', 'magenta-200', '200', '#FFCEF2')
		+colorRow('', '', 'magenta-300', '300', '#FFACE5')
		+colorRow('', '', 'magenta-400', '400', '#F877D2')
		+colorRow('', '', 'magenta-500', '500', '#E142BC')
		+colorRow('', '', 'magenta-600', '600', '#CA26A5')
		+colorRow('', '', 'magenta-700', '700', '#A91A90')
		+colorRow('', '', 'magenta-800', '800', '#891869')
		+colorRow('', '', 'magenta-900', '900', '#50003F')
