footer.footer
	.footer__content
		.footer__left
			.footer__name Keith Barney
			.footer__role Product Design // Systems
		.footer__right
			a.footer__link(href="mailto:hello@keithbarney.com") hello@keithbarney.com
			.footer__year 2025
