include _mixins

.subsection#radius
	.grid.grid--10.radius-grid
		+radiusRow('Radius', 'Container', 'none', 'radius.container.none', 'scale.0')
		+radiusRow('', '', 'sm', 'radius.container.sm', 'scale.4')
		+radiusRow('', '', 'md', 'radius.container.md', 'scale.8')
		+radiusRow('', '', 'lg', 'radius.container.lg', 'scale.12')
		+radiusRow('', '', 'full', 'radius.container.full', '999')
