include _mixins

.subsection#radius
	.grid.grid--10.radius-grid
		+radiusRow('Radius', 'Container', 'none', 'container.none', 'ui.0')
		+radiusRow('', '', 'sm', 'container.sm', 'ui.4')
		+radiusRow('', '', 'md', 'container.md', 'ui.8')
		+radiusRow('', '', 'lg', 'container.lg', 'ui.12')
		+radiusRow('', '', 'full', 'container.full', '999')
