include _mixins

.subsection#spacing
	.grid.grid--10.spacing-grid
		//- Gap
		+spacingRow('Spacing', 'Gap', '0', 'spacing.gap.none', 'scale.0')
		+spacingRow('', '', '2', 'spacing.gap.xxs', 'scale.2')
		+spacingRow('', '', '4', 'spacing.gap.xsm', 'scale.4')
		+spacingRow('', '', '8', 'spacing.gap.sm', 'scale.8')
		+spacingRow('', '', '12', 'spacing.gap.md', 'scale.12')
		+spacingRow('', '', '16', 'spacing.gap.lg', 'scale.16')
		+spacingRow('', '', '20', 'spacing.gap.xl', 'scale.20')
		+spacingRow('', '', '24', 'spacing.gap.2xl', 'scale.24')
		+spacingRow('', '', '32', 'spacing.gap.3xl', 'scale.32')
		+spacingRow('', '', '48', 'spacing.gap.4xl', 'scale.48')

		//- Screen
		+spacingRow('', 'Screen', '16', 'spacing.screen.side-margin', 'scale.16')
		+spacingRow('', '', '24', 'spacing.screen.column-gap', 'scale.24')

		//- Padding
		+spacingRow('', 'Padding', '4', 'spacing.padding.sm', 'scale.4')
		+spacingRow('', '', '8', 'spacing.padding.md', 'scale.8')
		+spacingRow('', '', '16', 'spacing.padding.lg', 'scale.16')
		+spacingRow('', '', '24', 'spacing.padding.xl', 'scale.24')
		+spacingRow('', '', '48', 'spacing.padding.2xl', 'scale.48')
