include _mixins

.subsection#typography
	.grid.grid--10.type-grid
		+typeRow('Typography', 'Size', 'body-xsm', 'typography.font-size.body-xsm', 'scale.8')
		+typeRow('', '', 'body-sm', 'typography.font-size.body-sm', 'scale.10')
		+typeRow('', '', 'body', 'typography.font-size.body', 'scale.12')
		+typeRow('', '', 'h3', 'typography.font-size.h3', 'scale.20')
		+typeRow('', '', 'h2', 'typography.font-size.h2', 'scale.28')
		+typeRow('', '', 'h1', 'typography.font-size.h1', 'scale.32')
